@import "tailwindcss";

:root {
    --background: #000000;
    --background1: #3f3f3f7e;
    --foreground: #fca311;
    --foreground1: #e5e5e5;
    --foreground2: #ffffff;
}

.home-section {
    display: flex;
    flex-direction: column;
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
