@import "tailwindcss";

:root {
    --background: #000000;
    --background1: #14213d;
    --foreground: #fca311;
    --foreground1: #e5e5e5;
    --foreground2: #ffffff;
}

#dashboard-buttons a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.1s ease-in;
}

#dashboard-buttons a:hover {
    font-size: x-large;
    color: var(--foreground-hover);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#dashboard-circle svg {
    transition: all 0.1s ease-in;
}

.home-section {
    display: flex;
    flex-direction: column;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
